*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

html {
    font-size: 62.5%;
    font-family: 'roboto', 'lato', sans-serif, Arial, Helvetica;
}

/*CLASES*/

.background {
    background-color: rgba(0, 0, 0, 0.10);
}

.logo {
    width: auto;
    height: 80px;
    margin: 10px 0;
    border-right: 1px solid black;
}

.nav {
    margin-top: 10px;
}

.nav-link {
    color: black;
    font-size: 150%;
    font-weight: bold;
}

.nav-link:hover {
    color: #289DD2;
}

.banner-size {
    margin-top: 15px;
    width: 100vw;
    height: auto;
    margin-bottom: 15px;
}

.box-shadow {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
}

.article {
    border-left: 1px solid rgba(0, 0, 0, 0.30);
    border-right: 1px solid rgba(0, 0, 0, 0.30);
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top{
 margin-top: 20px;
}

.subtittle {
    font-weight: bold;
    color: black;
}

.paragraph {
    font-size: 150%;
    margin-top:15px;
}

.icon {
 margin: 0 auto;
}

.list-style {
    list-style: disc inside;
}

.btn {
    transform: scale(1.1);
    font-weight: bold;
    margin-top: 10px;
}

.social-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.block {
   display: block;
}

.copyright { 
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}

@keyframes slide-left{
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-left {
	animation: slide-left 2s ease 0s 1 normal forwards;
}

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-right {
	animation: slide-right 2s ease 0s 1 normal forwards;
}

@keyframes art-anim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.art-anim {
    animation: art-anim 3s ease 2s 1 normal forwards;
}

.art-anim1 {
    animation: art-anim 3s ease 3s 1 normal forwards;
}

.art-anim2 {
    animation: art-anim 3s ease 4s 1 normal forwards;
}