*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

html {
    font-size: 62.5%;
    font-family: 'roboto', 'lato', sans-serif, Arial, Helvetica;
}

/*CLASES*/

.background {
    background-color: rgba(0, 0, 0, 0.10);
}

.logo {
    width: auto;
    height: 80px;
    margin: 10px 0;
    border-right: 1px solid black;
}

.nav {
    margin-top: 10px;
}

.nav-link {
    color: black;
    font-size: 150%;
    font-weight: bold;
}

.nav-link:hover {
    color: #289DD2;
}

.banner-size {
    margin-top: 15px;
    width: 100vw;
    height: auto;
    margin-bottom: 15px;
}

.box-shadow {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
}

.article {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.30);
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top{
 margin-top: 20px;
}

.subtittle {
    text-align: center;
    font-weight: bold;
    color: black;
}

.paragraph {
    font-size: 150%;
    margin-top:15px;
}

.p-size {
    width: 40vw;
}

.list-style {
    list-style: disc inside;
}

.btn {
    transform: scale(1.1);
    font-weight: bold;
    margin-top: 10px;
}

.social-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.block {
   display: block;
}

.copyright { 
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}

.radius {
    border-radius: 20px; 
}

.pic-teamwork {
    width: 50vw;
    height: auto;
    margin-top: 20px;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vw {
    width: 50vw;
    height: auto;
}

.article-blog {
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.10);
}

.form-contenedor { 
    margin-top: 20px ;
    padding: 15px;
    font-size: 120%;
    border: 1px solid rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
}

.form {
    width: 70vw;
}

.legend {
    text-align: start;
    font-weight: bold;
    color: black;
}

.input {
    margin: 10px;
}

/*keyframes*/
@keyframes slide-left{
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-left {
	animation: slide-left 2s ease 0s 1 normal forwards;
}

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-right {
	animation: slide-right 2s ease 0s 1 normal forwards;
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
.slide-in-bottom1 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom2 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-in-bottom3 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-in {
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.slide-in-bottom {
	animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.article:hover{
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.article-blog:hover{
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (min-width: 992px) {
 .flex {
    flex-direction: row;
 }

 .pic-teamwork {
    margin-top: 0;
    width: 35vw;
 }

 .vw { 
    width: 35vw;
 }


.article {
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.30);
    border-right: 1px solid rgba(0, 0, 0, 0.30);
}
}