//color palette//
$color-black:#000000;
$color-dark-grey: #242424;
$color-light-grey:#6D6D6D;
$color-white: #ffffff;
$color-base: #EFEFEF;
$color-principal: #EBECF0;
$color-contrast-light: #0466C8;
$color-contrast-dark: #002855;

//Color-links//
$color-link: #0645AD;
$Color-link-visited:#800080;

//font// 
$font-family: 'Roboto', sans-serif;