//color palette//
$blue1: #0f85faff;
$blue2: #0a71d8ff;
$blue3: #045db6ff;
$blue4: #0353a4ff;
$blue5: #034991ff;
$blue6: #023e7dff;
$blue7: #013369ff;
$blue8: #002855ff;
$blue9: #001845ff;
$blue10: #001233ff;

//grayscale//
$white: #f8f9faff;
$white2: #e9ecefff;
$white3: #dee2e6ff;
$gray1: #ced4daff;
$gray2: #adb5bdff;
$gray3: #8d959dff;
$gray4: #6c757dff;
$gray5: #495057ff;
$gray6: #343a40ff;
$black: #212529ff;

//Color-links//
$color-link: #0645AD;
$Color-link-visited: #800080;

//font// 
$font-family: 'Roboto', sans-serif, Helvetica;

//reset//
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,

body {
    font-size: 62.5%;
    font-family: $font-family;
    width: 100vw;
    min-height: 100vh;
}

$bkg: (
  'blue2': $blue2,
  'blue5': $blue5,
  'blue9': $blue9,
  'gris2': $gray2,
  'gris4': $gray4,
  'gris6': $gray6,
);

@each $name, $value in $bkg {
  .bg-#{$name} {
    background-color: $value;
  }
}  

@mixin font ($size, $weight, $style) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style
}

.h1 { 
    @include font(5rem, 900, normal);
    margin-bottom: 1rem;
} 

.h2 {
    @include font(2rem, 700, normal);
    margin-bottom: 1rem;
}

.h3 {
    @include font(1.6rem, 700, normal);
    margin-bottom: 1rem;
}

.h4 {
    @include font(1.6rem, 400, normal);
}

.txt {
    @include font(1.6rem, 400, normal);
}

.txt-italic {
    @include font(1.6rem, 400, italic);
}

.txt-small {
    @include font(1.5rem, 400, normal);
}

.txt-align {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.bkg-transparent {
    background: rgba(0, 0, 0, 0.5);
}

.bkg-gradient {
    background: radial-gradient(#dee2e6ff 0%,#ced4daff 50%, #adb5bdff 100% );
}

.shadow {
    box-shadow: 0px 0px 10px 2px $black;
}

//flex// 
@mixin flex ($flex, $content, $item, $direction) {
    display: $flex;
    justify-content: $content;
    align-items: $item;
    flex-direction: $direction;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bannerhome.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    @extend .shadow;
}

.bkg-img {
    background-image: url(../img/Banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.menu {
    padding: 1rem;
    @include flex (flex, center, center, row);
}

.logo {
    height: 5rem;
    width: auto;
    border-right: 0.2rem solid $gray4;
    @extend .slide-left;
}

.menu-desktop {
    display: none;
    @extend .h3;
    flex-wrap: nowrap;
    @extend .slide-right
}

.row {
    flex-wrap: wrap;
}

.menu-phone {
    display: block;
    @extend .slide-right;
}

.navbar {
    text-align: end;
    justify-content: end;
    @extend .h2;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-contact {
    display: none;
    @extend .fade-in
}

.white-space {
    width: 100vw;
    padding:50px 0;
    display: block;
}

.main-tittle {
    text-align: center;
    justify-content: center;
    @extend .fade-in;
}

.cards-inicio {
    margin: 2rem 2rem;
    padding: 3rem;
    @include flex (flex, center, center, column);
    list-style: disc inside;
    background-color: $gray1;
    border-radius: 0.5rem;
    @extend .shadow;
    @extend .fade-in;
}

a.button {
    @extend .h3;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    font-family: inherit;
    background-color: $white2;
    color: $blue2;
    border: 0.1rem solid $blue2;
    margin: 1rem;
    @extend .fade-in;

    &:hover {
        text-decoration: none;
        background-color: $blue2;
        color: $white2;
        border-color: $white2;
        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.divisor {
    border-top: 0.2rem solid $blue3;
    height: 2px;
    width: 15rem;
    margin: 1rem auto;
    @extend .fade-in;
}

.footer {
    @extend .margin-auto;
    padding: 1.5rem;
    color: $white2;
    text-align: center;
    @extend .fade-in;

    & picture {
        display: block;
    }
}

.banner {
    width: auto;
    height: 20vw;
    @extend .fade-in
}

.copyright {
    text-align: center;
    color: $white2;
    @extend .txt-italic;
    border-top: 1px solid $gray4;
    padding: 1rem 0;
    @extend .slide-in-bottom1;
}

.social-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    @extend .slide-right;
}

.pic-teamwork {
    width: 35vw;
    height: auto;
    border-radius: 20px;
    @extend .fade-in;
}

//keyframe//

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }
}

@keyframes scale {
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/*keyframes*/
@keyframes slide-left{
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-left {
	animation: slide-left 2s ease 0s 1 normal forwards;
}

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 2;
		transform: translateX(0);
	}
}

.slide-right {
	animation: slide-right 2s ease 0s 1 normal forwards;
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
.slide-in-bottom1 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom2 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-in-bottom3 {
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.fade-in {
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


//queris//

@media screen and (min-width: 992px) {

    .queri-header {
        width: 90vw;
        margin: 0 auto;
    }

    .footer {
        text-align: start;
    }

    .queri-footer {
        width: 80vw;
    }

    .menu {
        padding: 1.5rem;
        @include flex (flex, space-evenly, center, row);
    }

    .btn-contact {
        display: block;
        text-align: end;
    }

    .logo {
        height: 7rem;

    }

    .divisor {
        visibility: hidden;
    }

    .menu-desktop {
        display: block;
    }

    .menu-phone {
        display: none;
    }

    .row {
        flex-wrap: nowrap;
    }

    .wrap {
        flex-wrap: wrap;
    }
}